::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

html {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  text-align: center;
}

p,
canvas {
  float: left;
  margin-left: 50px;
  padding: 10px;
  border-radius: 25px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  outline: none !important;
  width: 75%;
  text-align: center;
  image-rendering: pixelated;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s;
  z-index: 99998;
}

.nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  z-index: 99998;
  top: 0;
  overflow: hidden;
  display: block;
  width: 225px;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.active {
  color: white !important;
  background-color: #999 !important;
}

input {
  padding: 10px;
  border-radius: 25px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 7%;
  resize: vertical;
  outline: none !important;
  height: 5%;
  font-size: 20px;
}

button {
  padding: 10px;
  border: none;
  background-color: #3F51B5;
  color: #fff;
  font-weight: 600;
  border-radius: 25px;
  width: 8%;
  transition-duration: .4s;
  font-size: 16px;
}

button:hover {
  font-size: 18px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}